<h1> Adding song to <%= @album.title %> </h1>

<form action="<%= tracks_url %>" method="post">
  <%= auth_helper %>

  <label for="album">album: </label>
  <select id="album" name="track[album_id]">
    <% Album.all.each do |album| %>
      <option value="<%= album.id %>"
        <%= @album == album ? "selected" : nil %>
        > <%= album.title %> </option>
    <% end %>
  </select>
  <br />  <br />

  <label for="title">title:</label>
  <input type="text" name="track[title]" >
  <br />  <br />

  <label for="ord">order:</label>
  <input type="integer" name="track[ord]" >
  <br />  <br />

  <label for="lyrics">lyrics:</label>
  <textarea name="track[lyrics]" rows="8" cols="80"></textarea>
  <br />  <br />

  <label for="recorded">track type:</label>
  <input type="radio" name="track[regular]" value="true" checked>regular
  <input type="radio" name="track[regular]" value="false">bonus
  <br />  <br />

<!-- notes form here -->



<input type="submit" value="add song">
</form>
